@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
}
.nav{
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.container{
    width: 100%;
    margin: auto;
}
.container.active{
    filter:blur(20px);
    pointer-events:none;
    user-select: none;
    }
.section1{
    width: 100%;
    height: 700px;
    position: relative;
}
.section1 .image_section{
    width: 98%;
    margin: auto;
}
.section1 .image_section img{
    width: 100%;
    display: block;
    margin: auto;
    max-height: 700px;
    max-width: 100%;
    opacity: 1;
    
}
#class1{
    color: black;
    cursor: pointer;
}
.section1::before{
    content: "";
    background: url(https://drive.google.com/uc?export=view&id=1lk_D4gsxEVCG5ZXNoJqvuMt82S8AOwx2);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: blur(5px);
    border-radius: 20px;
}
.heading{
    width: 70%;
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 6%;
  
}
.heading h1{
    color: #ffff;
    font-size: 3.5rem;
  letter-spacing: 2px;
  -webkit-text-stroke: 2px black;
}
.heading h1 span{
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
   transition: all 1.5s;
}
.heading:hover{
    animation: top 5s linear;
}
@keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
@keyframes top{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}
.heading h1 span:hover{
    background: linear-gradient(90deg, yellow, orange, red, violet, purple, blue, yellow);
    background-size: 400%;
    animation: animate 8s linear infinite;
    letter-spacing: 5px;
    border-radius: 10px;
}
.heading a{
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 30px;
    color: red;
    cursor: pointer;
    transition: all 0.5s;
}
.heading a:hover{
    font-size: 1.3rem;
    line-height: 30px;
    color: #ffff;
    background-color: red;
    cursor: pointer;
    padding: 0px 4px;
    border-radius: 2px;
}

/* <---------------Section 2 Start-----------------> */

.section2{
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 15px;
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}
.section2 .section2_content2{
    width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 2;
}
.section2 .section2_content1 form{
    width: 450px;
    display: block;
    margin: auto;
    position: relative;
}
.section2 .section2_content1 form input{
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid grey;
    padding: 0px 3px;
    margin-top: 5px;
    color: black;
    font-weight: 500;
}
.section2 .section2_content1 form label{
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.9;
    color: black;
}
.section2 .section2_content1 form span{
    position: absolute;
    right: 0;
    bottom: 5%;
    cursor: pointer;
}
.section2 .section2_content1 form #next{
  width: 100px;
  font-size: 20px;
  text-align: center;
  height: 35px;
  color: #000;
  cursor: pointer;
  background: #ffff;
  border: none;
}
.section2 .section2_content1 form #next:hover{
  letter-spacing: 2px;
  color: #fff;
  background: #333;
}
.section2 .section2_content1 form span:hover{
    position: absolute;
    right: 0;
    bottom: 5%;
    cursor: pointer;
    color: black;
}
.section2 .section2_content1 h1{
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}
.section2 .section2_content1{
    width: 50%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    border-right: 2px dashed rgb(5, 243, 96);
    /* text-align: center; */
}


/* <-----------Card part-----------> */

:root{
    --basic_bg: linear-gradient(45deg, #047df4,#01188b);
    --standrad_bg: linear-gradient(45deg, #00ff62,#233543);
    --premium_bg: linear-gradient(45deg, #ff2ff7,#4700ff);
}

.section3{
    height: 600px;
    font: lighter 1rem sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 20rem;
    height: 70vh;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 .2rem .5rem #0005;
    transition: .4s ease-in-out;
    padding-top: 30px;
}
.card:not(:first-child){
    margin-left: 1.9rem;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.2);
    z-index: 3;
}
.card_basic,.card_basic .card_price{
    background-image: var(--basic_bg);
}
.card_standred,.card_standred .card_price{
    background-image: var(--standrad_bg);
}
.card_primium,.card_primium .card_price{
    background-image: var(--premium_bg);
}
.card_body{
    width: 100%;
    height: 75%;
    border: 0.06rem solid #fff;
    border-bottom: none;
    border-radius: 8rem 8rem 0 0;
    position: relative;
}
.card_btn{
    bottom: 0;
    width: 70%;
    background-color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}
.card_btn:hover{
    background-image:  linear-gradient(45deg, yellow, orange) ;
    color: black;
}
.card_price,.card_features,.card_btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.card_price{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    border: 0.15rem solid #ffff;
    top: -10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_price_value{
    font-size: 2.5rem;
    font-weight: 700;
}
.card_features{
    top: 31%;
    width: 100%;
}
.card_features ul{
    list-style-type: none;
}
.card_features ul li{
    position: relative;
}
.card_features ul li:not(:last-of-type){
margin-bottom: 1rem;
}
.card_features ul li::before,.card_features ul li::after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.card_features ul li::before{
    width: .7rem;
    height: .4rem;
    border-left: .15rem solid #00b62a;
    border-bottom: .15rem solid #00b62a;
    left: 16%;
    top: 40%;
    z-index: 2;
}
.card_features ul li::after{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffff;
    left: 16%;
    border-radius: 50%;
}
.top_section>h1{
    width: 100%;
    background-color: blue;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 50px;
    padding: 8px 0px;
}
.last_section{
    background: #eeee;

}
  .last_section>.heading1{
    width: 100%;
    background-color: blue;
    color: #fff;
    font-size: 1rem;
    margin-top: 50px;
    padding-left: 12px;
    letter-spacing: 2px;
    margin-bottom: 50px;
    padding: 8px 0px;
  }
  .last_section>.heading1 h1{
    margin-left: 15px;
  }
  .section4{
    background: #eeee;
    text-decoration: none;
    text-transform: uppercase;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
    position: relative;
  }
  .form_div{
    width: 710px;
    background-color: #ffff;
    display: flex;
    overflow: hidden;
  }
  .section4 form{
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    padding-top: 160px;
    min-width: 100%;
    position: relative;
    left: 0px;
    transition: 0.5s;
  }
  .otp{
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    height: 350px;
    min-width: 700px;
    margin-top: 170px;
    position: relative;
    transition: 0.5s;
    left: 0px;
    text-transform: none;
    text-align: center;

  }
  .otp h1{
    opacity: 0.9;
  }
  .otp .inputBox{
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
  }
  .otp .inputBox input{
    width: 70px;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 25px;
  }
  .otp button{
    width: 150px;
    padding: 10px 15px;
    background: linear-gradient(45deg,blueviolet,deeppink);
    border-radius: 12px;
    text-transform: uppercase;
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 25px;
  }
  .otp button:hover{
    letter-spacing: 2px;
    background: #333;
    color: #ffff;
  }
  .section4 form .inputBox{
    margin-top: 20px
  }
  .section4 form .inputBox span{
    display: block;
    color: #999;
    padding-bottom: 5px;
  }
  .section4 form .inputBox input,.section4 form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #444;
  }
  .section4 form .flexBox{
    display: flex;
    gap: 15px;
  }
  .section4 form .flexBox .inputBox{
    flex: 1 1 150px;
  }
  .section4 .submit_btn{
    width: 100%;
    background: linear-gradient(45deg,blueviolet,deeppink);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #ffff;
    cursor: pointer;
    transition: .2s linear;
    border-radius: 5px;
  }
  .section4 .submit_btn:hover{
    letter-spacing: 2px;
    opacity: .8;
  }
  .card_container{
    margin-bottom: -150px;
    position: relative;
    width: 400px;
    height: 250px;
    z-index: 1;
  }
  .card_container .front{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg,blueviolet,deeppink);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgb(0,0,0,0.2);
    transform: perspective(1000px) rotateY(0deg);
    padding: 20px;
    transition:transform .4s ease-out;
  }
  .card_container .front .image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  .card_container .front .image img{
    height: 50px;
  }
  .card_container .front .card_number_box{
    padding: 30px 0;
    font-size: 22px;
    color: #ffff;
  }
  .card_container .front .flexBox{
    display: flex;
  }
  .card_container .front .flexBox .box:nth-child(1)
  {
    margin-right: auto;
  }
  .card_container .front .flexBox .box
  {
    font-size: 15px;
    color: #ffff;
  }
  .card_container .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,blueviolet,deeppink);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgb(0,0,0,0.2);
    transform: perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
  }
  .card_container .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
  }
  .card_container .back .box{
    padding: 0 20px;
  }
  .card_container .back .box span{
    color: #fff;
    font-size: 15px;
  }
  .card_container .back .box .cvv_box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
  }
  .card_container .back .box img{
    margin-top: 30px;
    height: 30px;
  }
  #footer {
    /* border: 1px solid red; */
    width: 101.1%;
    height: 420px;
    margin-top: 100px;
    margin-left: -7px;
    margin-bottom: -10px;
    padding-left: 140px;
    padding-top: 55px;
    display: flex;
    gap: 130px;
    background-color: #f9fafa;
}

#footer>div:first-child {
    /* border: 1px solid teal; */
    width: 15%;
    height: 170px;
}

#social>div {
    /* border: 1px solid black; */
    height: 20px;
    width: 30px;
}

#social {
    display: flex;
    gap: 10px;
    margin-left: 3px;
    width: 200px;
    /* border: 1px solid blue; */
    margin-top: 15px;
    margin-bottom: 20px;
}

#social>div>img {
    width: 15px;
    height: 15px;
    display: block;
    margin: auto;
    cursor: pointer;
}

.ft-txt {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #556575
}

#links {
    /* border: 1px solid teal; */
    width: 65%;
    display: flex;
    gap: 70px;
}

#links>div {
    /* border: 1px solid black; */
    width: 20%;
    height: 100%;

}

.ft-head {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
}

.ft-p {
  margin-top: 15px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #556575;
    margin-bottom: 22px;
    cursor: pointer;
}

#links>div>p:first-child {
    margin-top: -2px;
}
@media screen and (max-width: 1000px) {

    .heading h1{
        color: #ffff;
        font-size: 2rem;
      letter-spacing: 2px;
      -webkit-text-stroke: 2px black;
    }
    .heading h1 span{
        color: #fff;
        font-size: 2.5rem;
        text-transform: uppercase;
        text-decoration: none;
        z-index: 1;
       transition: all 1.5s;
    }
  }