*{
    margin: 0;
    padding: 0;
}

#worldmap{
    width: 100%;
    height: 620px;
/* border: 1px solid red; */
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* background-image: url('https://img.freepik.com/premium-vector/dotted-world-map-white-background-vector-illustration_541075-471.jpg?w=2000');
background-size: 80% 80%;
background-repeat: no-repeat; */
#worldmap>div:first-child{
    width: 600px;
    height: 300px;
    /* border: 1px solid black; */
    margin-top: 150px;
    margin-left: 150px;
}
#worldmap>div:first-child>h1{
margin-top: 35px;
font-size: 45px;
font-weight: bold;
font-family: "Graphik Web SemiBold", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
#worldmap>div:first-child>h1+h1{
    margin-top: -5px;
}
#worldmap>div:first-child>p{
    font-size: 18px;
    margin-top: 25px;
    font-family: "Graphik Web Regular", sans-serif;;
}
#worldmap>div:first-child>p:last-child{
    font-size: 18px;
    margin-top: 5px;
}


#div2{
    /* border: 1px solid green; */
    /* position: absolute; */
    width: 1120px;
    height: 700px;
    margin-top: -430px;
    margin-left: 380px;
    background-image: url('https://img.freepik.com/premium-vector/dotted-world-map-white-background-vector-illustration_541075-471.jpg?w=2000');
background-size: 100% 100%;
background-repeat: no-repeat;
}

/* company logos */

#img1{
    margin-left: 590px;
    margin-top: 180px;
    width: 200px;
}
#img2{
    margin-left: 570px;
    margin-top: 20px;
    width: 220px;
}
#div3{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(3,150px);
    /* border: 1px solid red; */
    width: 300px;
    height: 800px;
    margin-top: -750px;
    margin-left: 1200px;
    
}
#div3>img:first-child{
    width: 190px;
    height: 80px;
    margin-top: 70px;
    margin-left: 75px;

}
#div3>img:nth-child(2){
margin-top: 55px;
margin-left: 50px;
}
#div3>img:last-child{
    margin-left: 40px;
    margin-top: 75px;
}

/* div4 */
#div4{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(3,150px);
    /* border: 1px solid red; */
    width: 200px;
    height: 300px;
    margin-top: -700px;
    margin-left: 1480px;
    padding: 40px;
    /* /* box-shadow: rgba(200, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -50px; */
} 




#div5{
    margin-top: 500px;
    margin-left: 180px;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid blue; */
    border-radius: 0px 0px 10px 10px;
    width: 730px;
    height: 850px;
}
#div5>img{
    width: 100%;
    height: 60%;
    /* margin-left: -10px; */
   border-radius:  6px 6px 0px 0px;
}
#div5>img+img{
    margin-left: 40px;
    margin-top: -25px;
    width: 150px;
    height: 150px;
}

#div5>h1 {
    margin-left: 40px;
    height: 50px;
    font-family: "Graphik Web Medium", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #405261;
    font-weight: 650;
    font-size: 45px;
   margin-top: -18px;
}
#div5>h1+h1 {
    margin-top: 10px;
}
#div5>div{
    margin-top: 40px;
    margin-left: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    color: #405261;
    padding-left: 20px;
    font-size: 16px;
}

#div6{
    width: 800px;
    height: 1150px;
    margin-left: 1000px;
    margin-top: -1120px;
    margin-bottom: 50px;
    /* border: 1px solid red; */
}
#div6>h1{
    font-size: 50px;
    margin-left: 35px;
    font-family: "Graphik Web SemiBold", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}
#div6>p{
    font-family: "Graphik Web Regular";
        font-size: 23px;
        line-height: 32px;
    
        color: #748494;
     margin-left: 35px;
     margin-top: 24px;
     /* display: grid;
     grid-template-columns: 500px;
     grid-template-rows: repeat(2,350px);
     gap: 20px; */

}
#div6>div{
    margin-top: 55px;
    margin-bottom:100px;
    height: 320px;
    width: 640px;
    /* border: 1px solid orange; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.imglogo{
    margin-top: -7px;
    width: 45px;
    height: 45px;
}
.imglogo2{
    margin-left: 10px;
    width: 300px;
    height: 65px;
  
}
.imglogo2+p+p{
    color: green;
}
#div_1{
    margin-bottom:100px;
padding-left:50px ;
padding-right: 25px;
padding-top: 50px;
font-family: "Graphik Web Regular", sans-serif;
line-height: 32px;
font-size: 20px;
color: #1d2b36;
font-weight: lighter;

}
.p1{
    margin-top: 15px;
    font-size: 15px;
    font-family: 
    "Graphik Web Regular", sans-serif;
    color: #748494;
}

/* day5 */

#div7{
    width: 100%;
    height: 700px;
    margin-bottom: 100px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,180px);
    grid-template-rows: repeat(5,130px);
    /* gap: 100px; */
row-gap: 10px;
column-gap: 120px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
#div7>div{
    /* border: 1px solid blue; */
}
#div7>div>img{
    
    width: 100%;
    height: 100%;

}


/* day5 */
#div8{
    margin-top: 150px;
    margin-left: 210px;
    width: 750px;
    height: 600px;
    /* border: 1px solid green; */
}
#div8>h1{
    font-size: 45px;
    padding-right: 100px;
    margin-bottom: 25px;
font-family: "Graphik Web SemiBold", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#div8>div{
    margin-left: 150px;
    margin-top: 120px;
    width: 540px;
    height: 200px;
    padding-left: 55px;
    padding-top: 30px;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
}
#div8img{
    display: block;
}
.semicoln{
    width: 23px;
    height: 23px;
    margin-top: 23px;
    margin-left: -35px;
/* border: 1px solid red; */
}
#div8>div>p{
    font-family: "Graphik Web Regular", sans-serif;
    font-size: 16px;
    color: #405261;
    margin-top: -15px;
    margin-bottom: 40px;
}

#div8>div>p:last-child{
    margin-top: -35px;
    /* border: 1px solid gray; */
}


/* div9 */

#div9{
    margin-left: 1070px;
    margin-top: -510px;
    width: 700px;
    height: 800px;
    /* border: 1px solid chocolate; */
    
}
#div9>div{
    /* border: 1px solid rgb(0, 255, 145); */
    width: 600px;
    height: 350px;
   margin-left: 15px;
   margin-bottom: 70px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   border-radius: 21px;

}
#div9>div:last-child{
    height: 230px;
}
#div9_img1{
margin-left: 55px;
margin-top: 20px;
height: 110px;
width: 105px;
/* border: 1px solid saddlebrown; */
}
#div9_img2{
    margin-top: 15px;
    margin-left: 22px;
    width: 23px;
    height: 20px;
    /* border: 1px solid rgb(90, 70, 90); */
}
.p1{
    margin-left: 50px;
    margin-top: -5px;
    width: 520px;
    font-size: 16px;
    line-height: 28px;
    font-family:"Graphik Web Regular", sans-serif;
    color: #405261;
}
.p2{
    margin-top: 15px;
    margin-left: 50px;
    line-height: 28px;
    font-size: 15px;
    font-family:"Graphik Web Regular", sans-serif;
    font-weight: bold;
    color: #405261;
}
.p3{
    margin-top: -2px;
    margin-left: 50px;
    line-height: 28px;
    font-size: 13px;
    font-family:"Graphik Web Regular", sans-serif;
    color: #405261;
}
#div9_img3{
    height: 42px;
    margin-top: 21px;
    margin-left: 55px;
}

/* div10 */
#div10{
    width: 100%;
    height: 800px;
    /* padding-top: 500px; */
    margin-bottom: 100px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,180px);
    grid-template-rows: repeat(5,130px);
    /* gap: 100px; */
row-gap: 10px;
column-gap: 120px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
#div10>div{
    /* border: 1px solid blue; */
}
#div10>div>img{
    
    width: 80%;
    height: 80%;

}

/* div11 */
#div11{
    margin-top: 70px;
    width: 80%;
    height: 250px;
    margin: auto;
    /* border: 1px solid chartreuse; */
    display: relative;
    
    margin-bottom: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#div11>h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 56px;
    font-family: "Graphik Web Medium", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-left: 80px;
    margin-top: 50px;
    width: 75%;
    padding-top: 50px;
}
#div11>p{
    margin-left: 80px;
    margin-top: 25px;
font-size: 20px;
width: 500px;

position: absolute;

}
#div11>button{
 
        background-color: blue;
            color: white;
        border-radius: 6px;
        font-size: 21px;
        font-weight: 650;
        font-family: "Graphik Web Medium", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        ;
        width: 180px;
        height: 55px;
        margin-left: 1150px;
        margin-top: -25px;
        border: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
      #div11>button:hover{
        background-color: rgb(13, 72, 166);
    }