/* #navbar{
    border: 1px solid red;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border: 1px solid white;
    text-align: center;
    font-size: 100px;
   
    
} */
/* #navbar>div{
display: flex;
justify-content: space-around;
width: 40%;    
border: 1px solid green;

}
#navbar>:nth-child(2){
   
    width: 35%;
}
*/
.blue{
    background-color: rgb(18, 18, 224);
    color: aliceblue;
    border-radius: 10px;
} 
#container1 button,select{
    border-color: azure;
    /* background-color: white; */
    margin-top: 20px;
}
#nav{
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#class1{
    color: black;
    cursor: pointer;
}
#container1{
    display: flex;
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    gap: 10px;
    height: 500px;
    margin-top: 10px;
}
#container1 > div{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    width: 50%;  
    font-size: 25px;         
}
#container1 > div> img{
    width: 90%;
    height: 100%;
}
#container1 >div> button{
    font-size: 25px;
    padding: 15px 32px;
}
#container1 >div>p{
    font-size: 17px;
}
#container2{
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
}

#container3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,300px);
    /* border: 1px solid forestgreen; */
}
#container3>div{
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
     width: 70%;
     margin: auto;
     font-size: 18px;
     /* border: 1px rgb(103, 5, 5); */
     padding: 10px ;
     
}
#container3>div>p{
    color: rgb(74, 73, 73);
}
#container4{
    font-size: 22px;
}
.container50 h1{
    text-align: center;
    line-height: 10px;
    font-size: 30px;
    padding-top: 20px;
    margin: auto;
    width: 80%;

}
.container50>p{
    text-align: center;
    line-height: 10px;
    font-size: 30px;
    padding-top: 20px;
    margin: auto;
    width: 80%;
    margin-bottom: 25px;

}
#container6{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,600px);
    /* border: 1px solid blue; */
    width: 80%;
    margin: auto;
    gap: 20px;
}
#container6>div{
    /* border: 1px solid green; */
    line-height: 30px;
    font-size: 25px;
    padding: 15px;
    border-radius: 30px;
    
}
#container6>div>img{
    width: 80%;
    height: 40%;
    text-align: center;
    padding-left: 25px;
   
}
#container6>div>p{
    color: rgb(55, 54, 54);
}
#container6>div:nth-child(1){
    background-color: rgb(197, 221, 221);
}
#container6>div:nth-child(2){
    background-color: rgb(251, 226, 229);
}
#container6>div:nth-child(3){
    background-color: rgb(206, 206, 217);
}
#container6>div:nth-child(4){
    background-color: rgb(200, 241, 200);
}
#container7{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    width: 75%;
    padding-top: 40px;
    margin: auto;
    gap: 60px;
/*     
   border: 1px solid red; */
   
}
#container7>div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    line-height: 35px;
    padding: 15px;
    text-align: center;
    font-size: 17px;
}
#container7>div>p{
    line-height: normal;
    color: rgb(55, 54, 54);
}
a{
    text-decoration: none;
}
#container8{
    /* border: 1px solid red; */
    padding-top: 50px;
    font-size: 25px;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}
#container9{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    gap: 60px;
    border-radius: 20px;
    background-color: rgb(237, 237, 242);
    padding: 20px;
   
}
#container9>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-size: 22px;
    color: rgb(37, 37, 37);
    padding: 20px;
   
    
    
}
#container10{
    /* border: 1px solid red; */
    width: 75%;
    height: 250px;
    margin: auto;
    display: flex;
    background-color: black;
   margin-top: 100px;
   border-radius: 20px;
   padding: 30px;
    
    
}
#container10>div{
    /* border: 1px solid green; */
    width: 45%;
    height: 60%;
    margin: auto;
    color: aliceblue;
    font-size: 20px;
    /* border: 1px solid yellowgreen; */
    
    text-align: center;
    
    
}
#container10 >div> button{
    font-size: 25px;
    padding: 15px 32px;
    margin: auto;
    text-align: center;
    border: 1px solid blue;
}

#container11{
    /* border: 1px solid red; */
    font-size: 18px;
    width: 80%;
    display: flex;
    gap: 40px;
    margin: auto;
    margin-top: 70px;
    line-height: 30px;
}
#container11>div{
    /* border: 1px solid green; */
    padding: 20px;
    /* text-align: center; */

}
#container11>div>p{
    color: rgb(56, 55, 55);
    text-align: left;
}
#container11>div>img{
    padding-top: 20px;
}
#container11>div>p:hover{
    cursor: pointer;
    
}
#container12{
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
    color: rgb(48, 47, 47);
    line-height: 10px;
}



